//Colores aplicativo
$color-one: #FF9029 !default;
$color-two: #005792 !default;
$color-danger: #ea5455 !default;
$color-success: #28C76F !default;
//Colores Días
$color-lunes: #db52e9;
$color-martes: #7bcb00;
$color-miercoles: #FCAA0A;
$color-jueves: #0B8AE5;
$color-viernes: #FF4081;
$color-sabado: #009aa8;
$color-domingo: #ff4c4c;

//Grises
$transparent:transparent !default;
$white:    #fff !default;
$gray-0:   #F8F8F8 !default;
$gray-100: #eee !default;
$gray-200: #D6DBDF !default;

//Colores textos
$text-one: #658EA9;
$text-two: #27343E;
$text-three: #587C94;
