<div class="row py-4">
   <button type="button"
           class="btn btn-success d-inline-flex align-items-center justify-content-center py-2"
           (click)="openModal()">
      <i class="material-icons mr-4">picture_in_picture</i>Modal Default</button>
</div>



<modal-alert @parentAnimation
    [isOpenModal]="isOpenModal"
    (close)="closeModal($event)"
    *ngIf="isOpenModal">
</modal-alert>


<button (click)="changeColor()">Toggle</button>
<hr>

<div [@parentAnimation]="exp" class="box" *ngIf="exp">
   <header>Hello</header>
   <div [@childAnimation]="exp" *ngIf="exp">
      one
   </div>
   <div [@childAnimation]="exp" *ngIf="exp">
      two
   </div>
   <div [@childAnimation]="exp" *ngIf="exp">
      three
   </div>
</div>




