<modal-default [visibleModal]="isModalAlert" (close)="closeModal($event)">
	<h5>Modal Alert</h5>
	<ul class="list-group">
		<li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
		<li class="list-group-item list-group-item-success">A simple success list group item</li>
		<li class="list-group-item list-group-item-danger">A simple danger list group item</li>
		<li class="list-group-item list-group-item-warning">A simple warning list group item</li>
		<li class="list-group-item list-group-item-info">A simple info list group item</li>
		<li class="list-group-item list-group-item-light">A simple light list group item</li>
		<li class="list-group-item list-group-item-dark">A simple dark list group item</li>
	</ul>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal(false)">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
	</div>
</modal-default>






