:host {
	 display: block;
	 border: 2px solid blue;
	 background-color: rgba(0, 0, 0, .4);
     height: 200px;
     width: 200px;
 }

.overlay-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	opacity: 0.5;
}

